<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Maven.SeleniumProject.AppTest"/>
      <class name="Maven.SeleniumProject.Practice"/>
      <class name="Maven.SeleniumProject.Excersice2"/>
      <class name="Maven.SeleniumProject.Excersice3"/>
      <class name="Maven.SeleniumProject.ExcersiceMilan"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
